@charset "UTF-8";

.pick-main {
display: flex;
justify-content: space-between;
align-items: center;
}
.pick-button {
text-align: left;
}
.pick-button input{
width: 80px;
text-align: center;
}
.pickconfirm-button {
text-align: right;
}