@charset "UTF-8";
/* 기존 로그인|회원가입 링크 부분 */
#fh5co-main-login_signup {
	text-align: center;
	margin-bottom: 3px; /* 원래 5em > 3px로 수정*/
	margin-top: 0;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    letter-spacing: .2em;
    color: black;
}
#fh5co-aside #fh5co-main-login_signup a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#fh5co-aside #fh5co-main-login_signup a:hover {
  color: #228896;
}


/* 새롭게 추가된 부분 (관리자페이지 링크 버튼) */
#fh5co-main-to_adminpage {
	text-align: center;
	margin-bottom: 5em;
	margin-top: 0;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    letter-spacing: .2em;
    color: black;
}
#fh5co-main-to_adminpage a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#fh5co-aside #fh5co-main-to_adminpage a:hover {
  color: #228896;
}