@charset "UTF-8";

@font-face {
	font-family: 'Godo';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff')
		format('woff');
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	text-align: center;
}

*{
	font-family: 'Godo';
	
}
/* 회원가입 비밀번호찾기 정렬 */
.centered-text {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Godo';
}

/* 회원가입 비밀번호찾기 정렬 */
.custom-text {
	font-size: 15px;
	color: gray;
}


.membership {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 30px;
}

h1 {
	margin-top: --55px;
	margin-bottom : 55px;
	font-family: 'Godo';
	
	
}

.idresult {
	color : blue;
	font-size : 24px;
	text-align: center;
}

p {
	font-size : 30px;
}


