@charset "UTF-8";


button {
  width: 50%;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  margin-left: 10px;
  border-radius: 4px;
  color: white;
  background: black;
  transition: 0.3s;
}

button[type="submit"] {
  background: black;
  color: white;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/* 아이디 비밀번호 */
imp2 {
	color: #ccc;
}

/* 회원가입 아이디비밀번호찾기 정렬 */
.centered-text {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* 회원가입 아이디비밀번호찾기 정렬 */
.custom-text {
	font-size: 15px;
	color: gray;
}

/* 회원가입 아이디비밀번호찾기 사이 세로줄 */
.vertical-line {
	border-left: 1px solid gray;
	margin: 0 10px;
	height: 20px;
}