@charset "UTF-8";
#fh5co-main-menu ul {
  text-align: center; /* 드롭다운 메뉴 글자 중앙 정렬 조정 */
  margin: 0;
  padding: 0;
}

#fh5co-main-menu li.dropdown {
  display: inline-block; /* 드롭다운 메뉴 항목들을 인라인 블록으로 표시 */
  position: relative; /* 상대적 위치로 설정 */
}

#fh5co-main-menu ul li.dropdown .dropdown-menu {
  left: -40%; /* 드롭다운 메뉴가 위치 정렬 */
  transform: none; /* 기본 위치로 설정 */
  display: none; /* 드롭다운 메뉴 숨기기 */
  position: absolute; /* 절대 위치로 설정 */
  top: 100%; /* 드롭다운 메뉴를 상위 항목 아래에 표시 */
  z-index: 1; /* 다른 요소 위에 레이어를 두기 위해 z-index 설정 */
}

#fh5co-main-menu ul li.dropdown:hover .dropdown-menu {
  display: block; /* 드롭다운 메뉴가 hover 상태일 때 표시 */
}

#fh5co-aside {
  padding-top: 10px; /* aside로고쪽 간극조절? */
  overflow: hidden; /* 스크롤바삭제 스크롤기능냅두고 스크롤바만안보이게도 가능? */
}

/* 	네비바 하단 글자 클래스 */
.nav-bottom-text
{
    text-align: left; /* 글자를 왼쪽으로 정렬 없애버리면 중앙으로 자동정렬*/
    display: block; /* 각 요소를 블록 레벨로 표시하여 줄 바꿈 적용 */
}

/* 	비디오 관련 쪽 */
.video-container {
    position: relative;
    margin-bottom: 200px; /* 요청하신 그림과 간격주는거 */
}
/* 	비디오 왼쪽 상단 텍스트 설정 */
.video-text {
    position: absolute;
    top: 10px; /* 원하는 위치로 조절 */
    left: 10px; /* 원하는 위치로 조절 right등 추가가능 */
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 5px 10px;
    border-radius: 5px;
    /* 그외 색상, 글자크기, 불투명도, radius등 어떻게 조절해야할지 모르겠어요 */
}

/* 	동그란이미지 글자 관련 쪽*/
.circle-text {
    font-size: 50px; /* 둥근 이미지 라인 쪽 원하는 폰트 크기로 수정 */
    margin-top: 200px; /* 글자가 가운데에 배치될수있도록 위(TOP)에서 멀어지기 */
}

/* 	맨아래 글자 관련 쪽*/
.blog-entry {
    border-radius: 50px; /* 모서리 둥글게? */
     overflow: hidden; /* 이미지를 모서리 안에 잘라내는 역할 */
}