@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
  font-size: 1.2rem;
}

img {
  width: 100px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.6rem;
  line-height: 1rem;
  color: #333;
  letter-spacing: 0.1px;
/*   background-color:  컬러쪽이 비어있네요 */ 
}

h1 { 
  text-align:  center;
}


h2 {
  font-size: 0.6em;
  line-height: 1.2rem;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  line-height: 1.4rem;
}

a:link { color: #666; text-decoration: none;}
a:visited { color: #666;}
a:hover { color: #666;}
a:active { color: #666;}

ul {
  list-style: none;
}

.ico {
  left: 6px;
  top: 4px;
  vertical-align: -6px;  
}

input {
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 14px;
  margin: 10px 0;

}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  color: #4c4c4c;
  font-size: 10px;
  max-width: 100%;
}

input[type="checkbox"] +.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
  vertical-align: -2px;
}

input[type="checkbox"]:checked +.ico {
  background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox_checked.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
}

input[type=radio] {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

input[type=radio]+.ico {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 100%;
  vertical-align: -4px;
  font-size: 9px;
}

input[type=radio]:checked+.ico {
  border: 1px solid #ee6a7b;
  background-color: #5f0080;
}

input[type=radio]:checked+.ico::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border-radius: 100%;
  background-color: #fff;
  padding: 22px;
  
}

button {
  width: 50%;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  margin-left: 10px;
  border-radius: 4px;
  color: white;
  background: black;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
}

button[type="submit"] {
  color: #fff;
  background: black;
}



/* start */
.topper {
  z-index: 10;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

.topper .banner {
  position: relative;
  padding: 0.6rem 5%;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.topper .banner> :first-child {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: url('https://res.kurly.com/mobile/ico/1908/btn_close_333_76x76_v2.png') no-repeat 50% 50%;
}

.topper .banner :last-child span {
  padding: 0 30px 0 20px;
  vertical-align: middle;
  background: url('https://res.kurly.com/mobile/ico/1908/btn_arrow_333_76x76.png') no-repeat 100% 46%;
  background-size: 36px 36px;
  color: #333;
  letter-spacing: -0.4px;
}

.topper .banner :last-child b {
  color: #5f0080;
}

.topper .title {
  padding: 0.4rem 10% 0.4rem 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topper .title> :nth-child(1) {
  width: 30px;
  height: 30px;
  background: url('https://res.kurly.com/mobile/service/common/2006/ico_navi_back.svg?v=1') no-repeat -10px 50%;
  background-size: 36px 36px;
} 

.topper .title> :nth-child(3) {
  width: 30px;
  height: 30px;
  background: url('https://res.kurly.com/kurly/ico/2021/cart_24_24_black.svg') no-repeat 2px 50%;
  background-size: 24px 24px;
}

.topper nav {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 10%;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
}

.topper nav ul {
  display: flex;
  justify-content: space-between;
}

.topper nav ul li {
  text-align: center;
}

.topper nav ul li a:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  margin: 4px auto;
  background-position: 50% 50%;
}

.topper nav ul> :nth-child(1) a::before{
  background: url('https://res.kurly.com/mobile/service/common/2011/ico_home.svg?ver=2') no-repeat 60% 50%;
}

.topper nav ul> :nth-child(2) a::before {
 background: url('https://res.kurly.com/mobile/service/common/2011/ico_cate.svg?ver=2') no-repeat; 
}

.topper nav ul> :nth-child(3) a::before {
  background: url('https://res.kurly.com/mobile/service/common/2011/ico_search.svg?ver=2') no-repeat;
}

.topper nav ul> :nth-child(4) a {
  color: #5f0080;
}

.topper nav ul> :nth-child(4) a::before {
  background: url('https://res.kurly.com/mobile/service/common/2011/ico_mypage_on.svg?ver=2') no-repeat;
}


form {
  max-width: 768px;
  margin: 0 auto;
  padding: 100px 5%;
}

form> div div {
  margin-bottom: 1rem;
}

form div label {
  /* font-size: 1rem; */
  font-weight: bold;
}

form div label.imp::after {
  content: "*";
  color: #ee6a7b;
}

form .membership div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .membership div input {
  width: 100%;
}

form .membership div ul li {
  width: 100%;
}

form .membership :nth-child(6) div {
  position: relative;
  margin-bottom: 0;
}

form .membership :nth-child(6) div img {
  position: absolute;
  right: 10px;
  width: 28px;
  height: 28px;
}

form .membership :nth-child(7) div {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

form .membership :nth-child(7) div input {
  border: none;
  margin: 0;
  text-align: center;
}

form .membership :nth-child(9) {
  margin: 2rem 0;
}

form .membership :nth-child(8) ul,
form .membership :nth-child(9) p {
  margin: 20px 0;
}

form .membership :nth-child(8) ul li,
form .membership :nth-child(9) ul li {
  margin: 20px 0;
  font-size: 1rem;
}

form .terms {
  margin: 2rem 0;
}

form .terms span {
  color: #ccc;
}

form .terms div {
  margin: 1rem 0;
}

form .terms div p {
  margin: 10px 0;
}

form .terms> :nth-child(1) {
  margin: 1rem 0;
}

form .terms> :nth-child(2) {
  line-height: 1.4rem;
  margin: 1rem 0;
  border-bottom: 1px solid #eee;
}

form .terms> :nth-child(3),
form .terms :nth-child(4),
form .terms :nth-child(5) {
  position: relative;
}

form .terms> :nth-child(3) a,
form .terms :nth-child(4) a,
form .terms :nth-child(5) a {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  background: url('https://res.kurly.com/mobile/ico/1908/btn_arrow_333_76x76.png') no-repeat 100% 46%;
  background-size: 36px 36px;
}

form .terms :nth-child(6) div {
  margin-left: 10%;  
}

form .terms :nth-child(6) div img {
  display: block;
  width: 240px;
  margin-top: 10px;
}

form> button {
  margin: 0 auto;
  width: 100%;
}


/* end */