@charset "UTF-8";

/* 가로선 */
.separator {
	width: 660px;
	height: 1px;
	background-color: black;
	margin: 20px auto -60px; /* 수평 가운데 정렬 */
}

/* 내정보 수정(텍스트) */
.text {
	margin: 80px 620px 30px;
	font-size: 25px;
}

.h1 {
margin-top :70px;
margin-bottom : 30px;

}

.telbtn { 
font-size : 13px;

}
.submit { 
font-size: 13px;

}