@charset "UTF-8";
#res_u_req {
  height: 500px;
  width: 400px;
  resize:none;
  
}
.custom-select {
    max-height: 100px; /* 셀렉트 박스의 최대 높이 지정 */
    overflow-y: auto; /* 스크롤바 추가 */
}

.custom-select option[value=""][disabled] {
	display: none;
}
.center-button {
    text-align: center; /* 버튼 내용을 수평 가운데 정렬 */
}
