@charset "UTF-8";

  @font-face {
	font-family: 'Godo';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff')
		format('woff');
} /*  웹에서 폰트 받아오는 태그 */

/** {*/
/*	font-family: 'Godo';*/
	
/*}*/

.myh2{
/*	font-family: 'Godo' !important;*/
	margin-left: 150px;
	margin-top: 60px;
}


  .container {
  height: 1500px;
  width: 1300px;
  }
  
  
  .table-container1 {
    display: inline-block;
    float:left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    width: 330px;
    height: 350px;
    
  }
  
   .table-container2 {
    display: inline-block;
    float:left;
/*     clear:left; */
    margin-right: 100px;
    margin-top: 30px;
    margin-left: 100px;
    width: 350px;
    height: 40px;
  }
  
  .pet td {
    padding: 8px;
/*    border: 1px solid pink;*/
}

/* 각 칸의 너비를 설정합니다. */
.pet .bold-cell {
    width: 150px; 
}
  
   .table-container3{
  	display: inline-block;
/* 	float:left; */
	clear:left;
	width: 90%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
  }
  
  .selectNbtn {
    display: flex;          /* 내부 요소를 가로로 배치 */
    justify-content: flex-end;  /* 내부 요소들을 오른쪽으로 정렬 */
    align-items: center;    /* 내부 요소들을 수직으로 중앙 정렬 */
    margin-top: -30px;
}
  
    .table-container4{
  	display: inline-block;
/* 	float:left; */
	clear:left;
    width: 90%;
	margin-left: 100px;
	margin-right: 100px;
	
	
  } 
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid lightgray;
  }
  
.h{
	font-weight: bold;
	font-size: 19px;
	color: black;
}


.mbtn{
	float: right;
	background-color: #E1E2CD;
	border: none;
	color: black;
	padding: 5px;
	border-radius: 10px;
	
}


hr {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #000;
    width: 1200px;
    margin-left: 130px;
    margin-bottom : 30px;
}


.mbtn-center {
    margin: 0 5px; /* 양쪽으로 조금씩 떨어짐 */
}
#sel{
	float: right;
}
.mm{
	text-align: center;
}

.bold-cell {
    font-weight: bold;
    color: black;
}

.petlist { /* 표 전체 */
/* 	color: black; */
/*     width: 800px; */
/*     font-size: 13px; */
/*     border-collapse: collapse; */
/*     margin-top: 80% */
}


.petlist th, .petlist td {
        padding: 8px;
        text-align: center;
        border: 1px solid lightgray;
        
    }
.petlist td {
    background-color: white;
}
.resCheck-next {
	margin-top: 10px;
	width: 1100px;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}
.resCheck-next a {
	width: 28px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
	background: white;
    display: inline-block;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black !important;
    border-radius: 30px;
	border: 1px solid black;
    transition: background-color 0.3s;
}
.resCheck-next a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    margin-left: 50px;
}
.resCheck-next a:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}
/* 펫 정보수정 select 와 정보수정 버튼 사이 간격 조절 */
.pet-form {
    /* 내부 요소들을 수직으로 중앙 정렬 */
}

#petlist {
    margin-right: 10px;     /* 선택 상자와 버튼 사이의 간격을 조정 */
}

.reservation th, .reservation td {
    padding: 8px;
    text-align: center; 
    border: 1px solid lightgray;
}
 