@charset "UTF-8";

  .container {
  height: 2000px;
  
  }
  
  .table-container1 {
    display: inline-block;
    float:left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    width: 200px;
    height: 400px;
  }
  
   .table-container2 {
    display: inline-block;
    float:left;
/*     clear:left; */
    margin-right: 100px;
    margin-top: 30px;
    width: 500px;
    height: 40px;
  }
  
  .table-container3{
  	display: inline-block;
/* 	float:left; */
	clear:left;
	width: 65%;
	margin-left: 100px;
	margin-right: 100px;
	
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid pink;
  }
  
.h{
	font-weight: bold;
	font-size: 18px;
}





.mbtn{
	float: right;
	background-color: pink;
	border: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
}
#sel{
	float: right;
}
.mm{
	text-align: center;
}

.petlist { /* 표 전체 */
	color: black;
    width: 800px;
    font-size: 13px;
    border-collapse: collapse;
    margin-top: 80%
}
.petlist th {
  	font-size: 16px;
    padding: 15px;
}
.petlist td {
    padding: 5px;
    border: 1px solid #ddd;
}
.petlist td {
    background-color: white;
}
.petlist-next {
	margin-top: 10px;
	width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}
.petlist-next a {
	width: 28px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
	border-radius: 8px;
	background: white;
    display: inline-block;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black !important;
    transition: background-color 0.3s;
}
.petlist-next a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.petlist-next a:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}