@charset "UTF-8";

*{
	color: black;
}

/* 윗부분 */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
    width: 1000px;
    margin-left: 200px;
    margin-bottom : 50px;
}
h2{
		margin-left: 200px;
		margin-top: 45px;
		font-weight: bold;
		 cursor: pointer;
	}


/* --------- */


/* 폼전체를 가운데정렬 */
#nwf {
/* 	 text-align: center;  */
width: 1200px;
margin-left: 220px;
margin-top: 50px;
}
/* 제목,내용 */
th {
	font-size: 20px;
	
}

#nwf table{
	width: 1200px;
}
/* 	각각 요소의 크기 */
.sub, .cont, .file-upload-container {
width: 80%;
padding: 10px;
/* margin-top: 20px; */
}

/* 버튼 ================================================================== */
.buttons {
width: 960px;
/* padding: 10px; */
margin-top: 20px;
position: relative;
overflow: hidden;
display: inline-block;
}
/* ====================================================================== */


/* 내용 세부 조절 */
.cont {
height: 300px;
border: 1px solid black;
border-radius: 5px;
resize: none;
margin-bottom: 10px;
margin-top: 5px;
}
/* 제목 세부 조절 */
.sub {
border: 1px solid black;
border-radius: 5px;
border-right: 10%;
		margin-top: 5px;
margin-bottom: 30px
}
/* 버튼 세부 조절 ()*/
.nwbtn {
background-color: rgb(232, 232, 232);
color: black;
padding:8px 15px;
border: none;
border-radius: 5px;
		float: right;
/* 		버튼사이 간격 */
		margin-right: 5px;
}

/* 파일첨부========================================= */
.file-upload-container {
position: relative;
overflow: hidden;
display: inline-block;
border-radius: 5px;
border: 1px solid black;
}
.file-upload {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}
/* ============================================= */

table .nwth{
	text-align: left;
}
/* 추가 ==================================================  */
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nwf table {
margin-top: 3px;
}	