
/* 폼전체를 가운데정렬 */
#nwf {
/* 	 text-align: center;  */
width: 80%;
margin-left: 10%;
margin-top: 50px;
}
#nwf table{
	width: 100%;
}
/* 	각각 요소의 크기 */
.sub, .cont, .file-upload-container {
width: 80%;
padding: 10px;
/* margin-top: 20px; */
}

/* 버튼 ================================================================== */
.buttons {
width: 83%;
/* padding: 10px; */
margin-top: 20px;
position: relative;
overflow: hidden;
display: inline-block;
}
/* ====================================================================== */


/* 내용 세부 조절 */
.cont {
height: 300px;
border: 1px solid black;
border-radius: 5px;
resize: none;
}
/* 제목 세부 조절 */
.sub {
border: 1px solid black;
border-radius: 5px;
border-right: 10%;
/* 		margin-top: 50px; */
}
/* 버튼 세부 조절 ()*/
.nwbtn {
background-color: black;
color: white;
padding:8px 15px;
border: none;
border-radius: 5px;
		float: right;
/* 		버튼사이 간격 */
		margin-right: 5px;
}

/* 파일첨부========================================= */
.file-upload-container {
position: relative;
overflow: hidden;
display: inline-block;
border-radius: 5px;
border: 1px solid black;
}
.file-upload {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}
/* ============================================= */

table .nwth{
	text-align: left;
}
/* 추가 ==================================================  */
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nwf table {
margin-top: 3px;
}	