@charset "UTF-8";
	h2{
		margin-left: 200px;
		margin-top: 45px;
		font-weight: bold;
	}
#qtable1 {
border-collapse: collapse;
width: 1000px;
/* border: 1px solid #ddd; */
margin-top: 70px;
margin-left: 200px;
background-color: white;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
    width: 1000px;
    margin-left: 200px;
    margin-bottom : 50px;
}
		
/* 		검색창,버튼 테이블 */
		#qtable2{
			border-collapse: collapse;
width: 1000px;
margin-top: 10px;
margin-left: 200px;
/* background-color: white; */
		}
th, td {
padding: 8px;
text-align: left;
text-align: center;
border: none;
}
td{
	cursor: pointer;
}
#qtr, #qtr td{
	padding: 8px;
text-align: left;
text-align: center;
border-bottom: 1px solid black;
}
th {
background-color: #A4CDC5;
color: black;
}
#qtr:hover {
background-color: rgb(241, 241, 241);
}
/* 검색창 */
#searchkey{
/* 			margin-left: 300px; */
/* 			margin-top: 20px; */
			margin: 0px;
			padding:6px;
			border: 1px solid black;	
			border-radius: 5px;					
}
/* tr #searchkey, #searchbtn { */
/* 	float: left; */
/* } */
/* 버튼 */
#searchbtn{
	border: none;
	background-color: #E1E2CD;
	color:black;
	border-radius: 5px;
	padding: 7px 15px;
	margin-left: 10px;
	font-weight: bolder;
}
#writebtn{
	border: none;
	background-color: #E1E2CD;
	color:black;
	border-radius: 5px;
	padding: 7px 15px;
/* 	margin-left: 280px; */
 	margin-top: -100px;    /* 수정 */
	float: right;
	font-weight: bolder;
}
/* 		th간 간격 */
#lnum{
	width: 10%;
}
#lsub{
	width: 70%;
}
#ldate{
	width: 20%;
}
/* #lcount{ */
/* 	width: 8%; */
/* } */
table #subject{
	text-align: left;
}
/* 페이지 */
.pagination {
		 display: flex; /* 주축(main axis)과 교차축(cross axis)을 기반으로 유연하게 배치하고 정렬 */
		 justify-content: center; /* 주축을 기준으로 중앙 정렬 */
			align-items: center; /* 교차축을 기준으로 중앙 정렬 */
		 margin-top: 20px;
		}
	
		.pagination a {
		 color: black;
		 padding: 6px 12px;
		 margin: 0 5px;
		 border: 1px solid black;
		 text-decoration: none;
		 border-radius: 5px;
		 font-weight: bold;
		}
	
		.pagination a:hover {
		 background-color: black;
		 color: white;
		  font-weight: bold;
		}
		
		#nwf {
text-align: center;
width: 80%;
}
/* 	각각 요소의 크기 */
.sub, .cont, .file-upload-container {
width: 80%;
padding: 10px;
margin-top: 20px;
}

/* 버튼 ================================================================== */
.buttons {
width: 83%;
/* padding: 10px; */
margin-top: 20px;
position: relative;
overflow: hidden;
display: inline-block;
}
/* ====================================================================== */


/* 내용 세부 조절 */
.cont {
height: 300px;
border: 2px solid black;
border-radius: 10px;
resize: none;
}
/* 제목 세부 조절 */
.sub {
border: 2px solid black;
border-radius: 5px;
border-right: 10%;
		margin-top: 50px;
}
/* 버튼 세부 조절 */
.nwbtn {
background-color: black;
color: white;
padding:8px 15px;
border: none;
border-radius: 5px;
/* 파일선택과 버튼을 띄움 */
/* margin-top: 10px; */
		float: right;
/* 		버튼사이 간격 */
		margin-right: 5px;
float: right;
}
.nwbtnCtrl {
	width: 80%;
	border-right: 10%;
	border: 2px solid black;
}

/* /* 목록버튼 */ 
/* .nwbtn2 { */
/* 	 background-color: black; */
/* color: white; */
/* padding: 8px 15px; */
/* border: none; */
/* border-radius: 5px; */
/* /* 파일선택과 버튼을 띄움 */ 
/* margin-top: 10px; */
/* 	 display: block; */
/* /* 	 margin-left: 550px; */ 
/* text-align: center; */
/* } */
	

	
.file-upload-container {
position: relative;
overflow: hidden;
display: inline-block;
border-radius: 5px;
border: 2px solid black;
}
.file-upload {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}