@charset "UTF-8";
@font-face {
	font-family: 'Godo';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff')
		format('woff');
}

#fh5co-main {
	position: relative;
	height: 100%;
}

#fh5co-main h2 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 40px;
	background-color: #FAF5FA;
	font-family: 'Godo';
	color: black;
	margin-left: 5px;
}

.fh5co-narrow-content {
	background-color: #FAF5FA;
	padding: 20px;
	position: relative; /* Add relative positioning */
}

.abc {
	margin-top: 50px;
	margin-left: 40px;
	color: black;
}

.abc input, .abc textarea {
	margin-bottom: 10px;
	width: 700px;
	font-family: 'Godo';
	font-size : 18px;
}

.abc qnasubject {
	width: 800px;
}

.qnawriter {
	
}

.qnacontent {
	height: 200px;
}

.qnasubject {
	height: 50px;
}

.abc qnaimage {
	width: 50px;
}

.qnasubmit {
	margin: 0 auto;
	display: block;
	text-align: center; /* Center-align the text inside the button */
}

.qna-buttons {
	text-align: center;
	position: absolute;
	bottom: 20px; /* Adjust the bottom position */
	left: 50%; /* Move to the horizontal center */
	transform: translateX(-50%); /* Center horizontally */
}

.qna-buttons {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.button-container {
	display: inline-block; /* Display the buttons side by side */
	margin-left: 10px; /* Add some space between the buttons */
}

.hrsolid {
	width: 90%;
	border: 0px;
	border-top: 1px solid black;
	margin-top: 60px; /* Add margin to position it below the Q&A section */
	margin-left: 45px;
	
}

.abc p {
	font-size: 20px;
	font-family: 'Godo';
	margin-bottom: 5px; /* Reduce the space below the paragraph */
	margin-top: 20px;
	color: black;
}

.abc input {
	margin-bottom: 10px;
	width: 700px;
	font-family: 'Godo';
	height: 50px;
	border-radius: 5px
}

.abc textarea {
	margin-bottom: 10px;
	width: 700px;
	font-family: 'Godo';
	resize: none;
	border-radius: 5px;
	font-size: 17px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
	
}

.review-input-img {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 40px;
    border: 1px solid black;
    width: 200px;
    border-radius: 10px;
    width: fit-content;
}
.review-input-img1 {
    height: 30px;
    width: auto;
    margin-left: 10px;

}

#fileInfoDisplay {
	margin-left: 10px;
    color: black;
    font-size: 16px;
    font-family: 'Godo';
    margin-right: 10px;
}



.category {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Godo';
	width: 55px;
}

#qna_category {
	height: 35px;
	width: 85px;
	text-align: center;
	font-family: 'Godo';
	border: 1px solid black;
	border-radius: 20px;
    color: black;
}

.file-info-container {
	display: flex;
	align-items: center; /* Center vertically */
}



.button-container {
	display: flex; /* Display the buttons side by side */
	justify-content: space-between; /* Add space between the buttons */
	margin-left: 10px;
	/* Add some space between the buttons and other content */
	width: 250px; /* Adjust the width as needed */
}

.qnasubmit, .qnalist {
    width: fit-content;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Godo';
    color: white;
    background-color: black;
}