@charset "UTF-8";

.ui-timepicker.ui-menu{
  position: absolute !important;
  top : 0 !important;
}

ul.ui-timepicker-viewport {
  width: auto !important;
}

.ui-timepicker-standard {
  margin-top: 5px !important;
  box-sizing: border-box;
  margin-left: 2px !important;
  border-radius: 0.15rem;
  box-shadow: var(--box-shadow);
  border: none !important;
  width: 149px !important;
  padding: 0 !important;
  z-index: 4!important
}

.ui-timepicker-standard a {
  padding: .3em .4em !important;
  text-decoration: none;
  font-family: var(--font-buttons);
  font-size: 13.5px;
  letter-spacing: 1px;
  color: grey !important;
  font-weight: 100;
}
.ui-timepicker-standard a.ui-state-hover {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--main-theme-color-05) !important;
  color: var(--main-theme-color) !important; 
}
.ui-timepicker ::-webkit-scrollbar {
  width: 8px;
}
.ui-timepicker ::-webkit-scrollbar-track {
  background: rgba(17, 36, 45, 0.3);
  background-color: var(--main-light-grey); 
}
.ui-timepicker ::-webkit-scrollbar-thumb {
  background: #ddd;
}
.ui-timepicker ::-webkit-scrollbar-thumb:hover {
  background: var(--main-theme-color);
}