@charset "UTF-8";

h1 {
	margin-top: -55px; 
	margin-bottom: 55px;
	
	
}

.membership {
	border: 1px solid #ccc; 
	border-radius: 10px; 
	padding: 30px;
	
}

hr {
	margin: 20px 0; 
	border: 2 solid #ccc;
	
}