@charset "UTF-8";

body {
	min-height: 100vh;
	background: rgb(241, 241, 241);
	font-family: 'Noto Sans KR', sans-serif;
}
.review-write-main {
display: flex;
align-items: center;
justify-content: center;
}
.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}
.divider { 
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}
p {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}
div .title {
width: auto;
font-size: 24px;
text-align: left;
}
/* =================================================== 별점 부분 */
.review-star {
display: flex;
justify-content: center;
margin-top: 5px;
margin-bottom: 12px;
}
.review-star div {
margin: 0;
font-size: 36px;
}
.star-rating {
display: none;
}
.star {
font-size: 24px; /* 별의 크기 설정 */
cursor: pointer;
margin: 0 10px;
transition: color 0.2s; /* 색상 변경 시 부드럽게 변화하도록 설정 */
}
.empty-star:before {
content: "\2606"; /* 빈 별(☆)의 문자를 유니코드로 설정 */
}
.filled-star:before {
content: "\2605"; /* 채워진 별(★)의 문자를 유니코드로 설정 */
color: dodgerblue;
}
/* =================================================== 리뷰 내용 */
#review-message {
	resize:none;
	background: white;
	font-size: 14px;
	border-radius: 0;
	border: 1px solid #ccc;
	transition: border-color 0.3s; /* 테두리 색 변화에 애니메이션 적용 */
}
#review-message {
  width: 410px;
  height: 450px;
}
#review-message:focus { /* 클릭 시 테두리 색 변화 */
border-width: 2px;
  border-color: black; /* 클릭 시 새로운 테두리 색 */
}
/* =================================================== 파일첨부 */
.review-input-img p {
margin:0;
}
.review-input-img {
display: flex;
text-align: center;
align-items: center;
justify-content: center;
height: 30px;
border: 1px solid #ccc;
/* margin-top: 20px; */
/* margin-bottom: 20px; */
}
.review-input-img1 {
height: 15px;
width: auto;
}
.review-input-img1:hover {
  cursor: pointer;
}
.review-input-img1 p {
display: flex;
align-items: center;
justify-content: center;
}
#fileInfoDisplay {
	margin-bottom: 0;
}
/* =================================================== 버튼속성 */
.buttons input{
width: 80px;
height: 35px;
background: #E1E2CD;
color: black;
border: none;
border-radius: 5px;
font-size: 14px;
margin: 0 3px; 
}