@charset "UTF-8";
body {
font-family: 'Noto Sans KR', sans-serif;
}
p {
	margin-bottom: 0;
}
reviewContent-main{
	display: flex;
	align-items: center;
	justify-content: center;
}
.review-content {
	width: 80%;
}
/* ========================================= 리뷰상세 전체*/
.review-content {
	border-radius: 20px;
	background: white;
}
/* ========================================= 리뷰상세 상단 */
.content-top {
background: #F8E8EE;
border-radius: 20px;
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 20px 35px;
}
.user-info {
	color: #228896;
	font-size: 16px;
}
.user-info a{
color: #ff69b4;
}
.product-info {
	color: black;
}
div input {
float: right;
  	margin-right: 10px;
  	background-color: pink;
  	color: white;
  	border-radius: 7px;
}

/* ========================================= 리뷰상세 본문 */
.content-middle {
	padding: 20px 35px 50px 35px;
}
.content-middle p {
	width: 100%;
	color: black;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px 20px 10px 20px;
}
.content-middle img {
    margin: 0 auto;
    display: block;
    width: 70%;
  }
/* =========================================== 답글 */
.re-review-content {
	border-radius: 20px;
	background: #F8E8EE;
}
.recontent-top {
/* 	background: #F8E8EE; */
	border-radius: 20px;
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 20px 35px;
}
.recontent-top-re{
	border-radius: 20px;
	display: flex; 
	justify-content: space-between; 
	padding: 20px 35px 0 35px;
}
.left {
width: 80%;
text-align: left;
}
.right {
width: 15%;
text-align: right;
}
h4 {
margin: 0px 0px 16px 0px;
}
.recoment {
color: black;
font-size: 16px;
}
.recoment {
color: black;
font-size: 16px;
}
.recoment2 {
color: black; /**/
}
.recoment3 {
margin-left: 5%;
margin-bottom: 15px;
width: 90%;
height: 100px;
resize:none;
}
.recoment4 {
/* margin-left: 5%; */
margin-bottom: 15px;
width: 100%;
height: 280px;
resize:none;
border: 1px solid silver;
outline: none;
}
/* =================================================== 파일첨부 */
.review-input-img {
/* width: 50%; */
/* margin-left: 25%; */
/* margin-right: 25%; */
display: flex;
text-align: center;
align-items: center;
justify-content: center;
height: 30px;
/* border: 1px solid #ccc; */
/* margin-top: 20px; */
/* margin-bottom: 20px; */
}
.review-input-img p {
margin:0;
}
.review-input-img1 {
height: 15px;
width: auto;
}
.review-input-img1:hover {
  cursor: pointer;
}
.review-input-img1 p {
display: flex;
align-items: center;
justify-content: center;
}
#fileInfoDisplay {
	margin-bottom: 0;
}