/* 추가내용 (리뷰페이지 div설정) ========================================== */
.blog-entry .review-desc {
  padding: 25px;
}
.blog-entry .review-desc h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: auto;
}
.blog-entry .review-desc h3 a {
  color: #000;
  text-decoration: none;
}
.blog-entry .review-desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4) !important;
}
.blog-entry .review-desc .lead { /* Read More 부분 */
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
/* 추가내용 (리뷰 div내 내용(text1:작성자, 작성일, 예약횟수 / text2:리뷰내용)) ====== */
.review_text1 {
	width: 100%;
	overflow: hidden; /* 칸 넘치는 텍스트 숨기기 */ 
	white-space: nowrap; /* 글자가 칸을 벗어날 때 줄바꿈 금지 */
    text-overflow: ellipsis;
    /* 글내용이 숨겨짐과 동시에 ... 표시 (한줄만 가능 두줄이상은 복잡하니 패스)*/
    margin: 0;
}
.review_text2 {
margin-top: 5px;
margin-bottom: 5px;
	width: 100%;
	overflow: hidden; /* 칸 넘치는 텍스트 숨기기 */ 
	white-space: nowrap; /* 글자가 칸을 벗어날 때 줄바꿈 금지 */
    text-overflow: ellipsis;
    /* 글내용 숨겨짐과 동시에 ... 표시 (한줄만 가능 두줄이상은 복잡하니 패스)*/
}
.blog-entry .review-desc span {
	margin: 0;
	margin-bottom: 0;
}
/* 추가내용 (페이지 버튼) ============================================ */
.prev-next {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.prev-next a {
	width: 28px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
	border-radius: 8px;
	background: white;
    display: inline-block;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black !important;
    transition: background-color 0.3s; /* 색 변경될 때 서서히 바뀌게 */
}
.prev-next a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer; /* 커서 가져다 대면 손가락모양으로 */
}
.prev-next a:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}
/* 추가내용 (리뷰 종류 버튼(전체, 미용, 목욕, 산책) ============================================ */
.review-select {
    display: flex; /* 요소들을 가로로 나란히 배치 */
    margin-bottom: 0;
}
.review-select a {
	border: solid 2px black;
/* 	width: 50px; */
	font-size: 16px;
    display: block;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center; 
    line-height: 1.5;
    transition: background-color 0.3s;
}
.review-select a:hover {
/*     background-color: rgba(0, 0, 0, 0.4) ; */
    background: pink;
}
.review-active {
/* 	background-color: rgba(0, 0, 0, 0.4) !important; 적용이 안돼서 important */
	background-color: pink !important;
}
.review-active:active {
/* 	background-color: rgba(0, 0, 0, 0.4) !important; 적용이 안돼서 important */
	background-color: pink !important;
}

.fh5co-heading-colored{ /* 맨아래 내용 타이틀 */
	color:black;
}
.btn-boxnew a{ /* 맨아래 안쓰고있는 버튼 그냥해봄 */
border: 0;
border-radius: 10px;
background: #ABD9FF;
color: black;
}






