/* 폰트 추가 ========================================================= */
@font-face {
    font-family: 'Arita';
    src: url('../fonts/Arita4.0_SB.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

/* 있던거에 추가한 내용 ================================================== */
#fh5co-aside {
overflow: hidden; /* >>>>>>>>>>>>>>>>>>>>>> 네비게이션바 스크롤 제거 */
}

.blog-entry .blog-img img { /* 리뷰 목록 이미지 위치, 크기 조정 */
  display: block; 
  margin: 0 auto; /*이미지 가운데 정렬*/
  
  width: 100%;
  height: 190px;
}
body {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
/* background: whitesmoke; */
background: #F4F9F9;
/* background: #ECF9FF; */
/* background: #F7ECDE; */
/* background: #EEE0C9; */
/* background: #ADC4CE; */
/* >>>>>>>>>>>>>>>>>>>>>> 전체화면 배경색 수정 */

}
h1, h2, h3, h4, h5, h6 {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}
figure figcaption {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}
#fh5co-aside {
/*   background: rgb(245, 222, 179); */
/*   background: #96B6C5; */
/* background: #DAF5FF; */
/* background: #ECF9FF; */
background: #E3F6FF;
  /* >>>>>>>>>>>>>>>> 네비게이션바 색 추가*/
}
@media screen and (max-width: 1200px) {
#fh5co-aside {
    width: 20%; /* >>>>>>> 네비게이션바 너비 수정 (화면 줄이면서 갑자기 커지는 부분)*/
  }
}
body.offcanvas #fh5co-aside {
  background: #E3F6FF; /* 좁은 화면에서 네비바 불러올 때 적용안된 색지정 */
}
#fh5co-aside #fh5co-logo {
font-family: "Comic Sans MS", cursive, sans-serif; /* (로고만 다름) 폰트 수정 */
margin-bottom: 8px; /* >>>>>>>>>>>>>>>>>>> 로고 아래 로그인/회원가입과의 간격 조절 */
text-transform: none; /* >>>>>>>>>>>>>>>>> 자동 대문자 변환 취소 */
}
#fh5co-aside #fh5co-main-menu ul li a {
font-size: 20px; /* >>>>>>>>>>>>>>>>>>>>>>>>> 네비게이션바 폰트 크기 수정*/
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}
/* #fh5co-main { */
/* 	width: 68%; 이미지가 너무 가로로 퍼져서 오른쪽에 여백 생성 */
/*     margin-left: 20%; */
/*     margin-right: 12%; */
/* } */
@media (min-width: 992px) {
 .col-md-3 {
    width: 20%; /* >>>>>>>>>>>>>>>>>> 전체화면일 때 리뷰 목록 5개로 나열되게 */
 }
}
@media screen and (max-width: 1200px) {
  #fh5co-main {
width: 80%; /* >>>>>>>>>>>>>>>>>>>>> 네비게이션바 줄이면서 같이 사이즈 조절 */ 
margin-left: 20%; /* 화면을 줄이면서 네비게이션과 겹치지 않도록 여백 조정*/
margin-right: 0;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h1, #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}
.blog-entry {
border-radius: 10px;  /* >>>>>>>>>>>>>>>>>>>>>>>>> 리뷰내용 모서리 둥글게 */ 	
}
.blog-entry .blog-img {
border-radius: 10px 10px 0 0; /* >>>>>>>>>>> 리뷰 이미지 모서리 둥글게 */ 
}	
.btn {
font-family: 'Noto', sans-serif; /* >>>>>>>>>>>>>>>>>>>>>> 폰트 수정 */
}





/* ============================================================== */
/* 아래 코드들은 모두 새 클래스명으로 작성해 따로 추가한 코드들입니다 */
/* 추가내용 (로고아래 로그인/회원가입) ==================================== */
#fh5co-main-login_signup { /* >>> 로그인, 회원가입 부분 */
	text-align: center;
	margin-bottom: 5em;
	margin-top: 0;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400; /* 600 > 400 */
    position: relative;
/*     padding: 10px 20px; */
    letter-spacing: .2em;
    color: black;
}
#fh5co-aside #fh5co-main-login_signup a {
    color: black; /* 검은색 글자색 지정 */
    font-weight: 500;
    text-decoration: none; /* 밑줄 제거 */
}

#fh5co-aside #fh5co-main-login_signup a:hover {
  color: #228896;
}

/* 추가내용 (리뷰페이지 div설정) ========================================= */
.blog-entry .review-desc {
  padding: 25px;
}
.blog-entry .review-desc h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: auto;
}
.blog-entry .review-desc h3 a {
  color: #000;
  text-decoration: none;
}
.blog-entry .review-desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4) !important;
}
.blog-entry .review-desc .lead { /* Read More 부분 */
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
/* 추가내용 (리뷰 div내 내용(text1:작성자, 작성일, 예약횟수 / text2:리뷰내용)) ====== */
.review_text1 {
	width: 100%;
	overflow: hidden; /* 칸 넘치는 텍스트 숨기기 */ 
	white-space: nowrap; /* 글자가 칸을 벗어날 때 줄바꿈 금지 */
    text-overflow: ellipsis;
    /* 글내용이 숨겨짐과 동시에 ... 표시 (한줄만 가능 두줄이상은 복잡하니 패스)*/
    margin: 0;
}
.review_text2 {
	width: 100%;
	overflow: hidden; /* 칸 넘치는 텍스트 숨기기 */ 
	white-space: nowrap; /* 글자가 칸을 벗어날 때 줄바꿈 금지 */
    text-overflow: ellipsis;
    /* 글내용 숨겨짐과 동시에 ... 표시 (한줄만 가능 두줄이상은 복잡하니 패스)*/
}
/* 추가내용 (페이지 버튼) ============================================ */
.prev-next {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.prev-next a {
	width: 28px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
	border-radius: 8px;
	background: white;
    display: inline-block;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black !important;
    transition: background-color 0.3s; /* 색 변경될 때 서서히 바뀌게 */
}
.prev-next a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer; /* 커서 가져다 대면 손가락모양으로 */
}
.prev-next a:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}
/* 추가내용 (리뷰 종류 버튼(전체, 미용, 목욕, 산책) ============================================ */
.review-select {
    display: flex; /* 요소들을 가로로 나란히 배치 */
    margin-bottom: 0;
}
.review-select a {
	width: 50px;
	font-size: 16px;
    display: block;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center; 
    line-height: 1.5;
    transition: background-color 0.3s;
}
.review-select a:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}
.review-active {
	background-color: rgba(0, 0, 0, 0.4) !important; /* 적용이 안돼서 important*/
}

.fh5co-heading-colored{ /* 맨아래 내용 타이틀 */
	color:black;
}
.btn-boxnew a{ /* 맨아래 안쓰고있는 버튼 그냥해봄 */
border: 0;
border-radius: 10px;
background: #ABD9FF;
color: black;
}






