@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}
/* 가로선 */
.divider {
	width: 100%;
	height: 1px;
	background-color: #000;
	margin: 20px 0;
}
/* ★★★★★ */
.star {
	font-size: 20px;
	cursor: pointer;
	margin: 0 10px;
}